.container {
    display: flex;
    margin: auto;
    height: 400px;
    width: 500px;
    border: solid;
}


    .block { 
        background-color: #17a2b8;
        width: 500px;
        height: 125px;
        margin-bottom: 70px;
    }


    .profileimage {
        padding-top: 70px;
        padding-left: 30px;
        height: 90px;
        width: 90px;
    }

    .name {
        padding-left: 30px;
        font-family: 'Roboto', sans-serif;
      }

      .gear {
        padding-left: 30px;
        height: 20px;
      }

      #body {
        margin-left: 30px;
        line-height: 0px;
        font-family: 'Roboto', sans-serif;
      }

      .foot {
        margin-top: 30px;
        font-family: 'Roboto', sans-serif;
        justify-content: space-around;
        
      }